@import "variable.styl"

body, html
  line-height: 1
  font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback'
  user-select: none
  -webkit-tap-highlight-color: transparent
  background: $color-background
  color: $color-text

.slide-enter, .slide-leave-to
  transform translate3d(100%,0,0)
.slide-enter-to, .slide-leave
  transform translate3d(0,0,0)
.slide-enter-active, .slide-leave-active 
  transition: transform .3s linear